<% title "Neue Nachricht" %>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :author, 'Dein Name (nich nötig)' %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :body, 'Text' %><br />
    <%= f.text_field :body, :size => 70 %>
  </p>
  <p>
    <%= f.label :lifespan, 'Anzeigedauer' %><br />
    <%= f.collection_select :lifespan, Message::Lifespans, :last, :first %>
  </p>
  <p>
    <%= f.submit t(:ok), :class => 'submit' %>
  </p>
<% end %>

<% content_for :tabs do %>
  <%= link_to t(:back), messages_path, :class => 'index messages' %>
<% end %>
