<p>
  <b>Author:</b>
  <%=h @message.author %>
</p>

<p>
  <b>Body:</b>
  <%=h @message.body %>
</p>

<p>
  <b>Lifespan:</b>
  <%=h @message.lifespan %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>