<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Barf") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag *%w(jquery jquery-ui jrails application) %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

        <div id="tabs">
          <%= yield :tabs %>
          <%= link_to 'Neu', new_message_path, :class => 'new message' %>
        </div>
      
      <%- if show_title? -%>
        <h1 class="title"><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
    </div>
  </body>
</html>
